{{define "title"}}Login{{end}}

{{define "body"}}
<div class="grid h-screen place-items-center">
    <form hx-post="/login" class="grid grid-cols-1">
        <div class="m-2">
            <label for="username" class="text-white">User</label>
            <input type="text" name="username" />
        </div>
        <div class="m-2">
            <label for="password" class="text-white">Pass</label>
            <input type="password" name="password" />
        </div>
        <button type="submit" 
            class="bg-white p-2 rounded m-2">
            Login
        </button>
    </form>
</div>
{{end}}